web/libraries/
out/
lib/
target/
.idea/
jakpoliczyc.iml
web/node_modules/
web/.sass-cache/
web/styles/
web/sass/build.scss
web/fonts/
web/scripts/output.js
web/scripts/output.min.js
web/scripts/template.js
web/scripts/libraries.js
node_modules/
src/main/webapp/libraries/
src/main/webapp/fonts/
src/main/webapp/.sass-cache/1bab57c70ce2645b7674fe24f0570e68e181e9e1/build.scssc
src/main/webapp/styles/external/
src/main/webapp/scripts/libraries.js
src/main/webapp/scripts/output.js
src/main/webapp/scripts/output.min.js
src/main/webapp/styles/main.min.css
styles/external/tmp.css
src/main/webapp/styles/main.css
src/main/webapp/sass/build.scss
.sass-cache/
styles/external/tmp.css.map
styles/main.min.css
src/main/resources/db.properties
