<div ng-include="'views/tagger.html'"></div>
<div class="jplist">
    <h2 ng-hide="isFilter">{{language.artTitle}}</h2>
    <h2 ng-show="isFilter">{{language.filterRes}}</h2>
    <h3 ng-show="isFilter && chosenCategory">{{language.category}}: {{chosenCategory}}</h3>
    <h3 ng-show="isFilter && chosenTags">{{language.tags}}: {{chosenTags}}</h3>
    <div ng-if="filteredArticles && filteredArticles.length >= 3 && !isFilter"
         class="hide-s" ng-include="'views/articles-carousel.html'"></div>
    <jp-list-header columns="{{getColumns()}}"></jp-list-header>
    <table>
        <tr ng-click="goArticle(article.id)" ng-repeat="article in articles">
            <td class="col-md-1"><strong>{{article.no}}</strong></td>
            <td class="col-md-4"><strong>{{article.title}}</strong></td>
            <td class="col-md-5"><span ng-repeat="tag in article.tags">[{{tag.name}}] </span></td>
            <td class="col-md-2">{{article.addedDate | date: 'HH:mm dd/MM/yyyy'}}</td>
        </tr>
    </table>
    <jp-pagination class="jplist-pagination" get-data="getData()" success="httpSuccess(data)" failure="httpFailure(response)"></jp-pagination>
</div>