<span>
    <a ng-if="youtubeUrl" ng-href="{{youtubeUrl}}" target="_blank">
        <i class="fa fa-youtube fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.ybRedirect}}"></i>
    </a>
    <a ng-if="facebookUrl" ng-href="{{facebookUrl}}" target="_blank">
        <i class="fa fa-facebook fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.fbRedirect}}"></i>
    </a>
    <a ng-if="instagramUrl" ng-href="{{instagramUrl}}" target="_blank">
        <i class="fa fa-instagram fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.igRedirect}}"></i>
    </a>
</span>

<img ng-click="goHome()" alt="logo"/>