<div class="jplist">
    <h2>{{language.storage}}</h2>

    <table>
        <tr>
            <th>{{language.no}}</th>
            <th>{{language.title}}</th>
            <th>{{language.tags}}</th>
            <th>{{language.date}}</th>
        </tr>
        <tr ng-click="goSingleStorage($index + 1)" ng-repeat="article in storage | orderBy: date">
            <td><strong>{{$index + 1}}</strong></td>
            <td><strong>{{article.story.title}}</strong></td>
            <td><span ng-repeat="tag in article.stags">[{{tag.name}}] </span></td>
            <td>{{article.addedDate | date: 'HH:mm dd/MM/yyyy'}}</td>
        </tr>
    </table>
</div>