 <form ng-controller="subscribeCtrl" name="sub">
    <div class="form-group">
        <label for="inputEmail3" class="col-form-label">{{language.subscribe}}</label>
        <div>
            <input type="email" name="email" ng-model="email" class="form-control" id="inputEmail3" placeholder="Email" required>
        </div>
        <small ng-show="sub.email.$error.email && sub.email.$dirty" class="form-text jperror">{{language.errEmail}}</small>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button ng-click="openModal(email)" ng-disabled="sub.$invalid" type="submit" class="btn btn-primary">{{language.submit}}</button>
        </div>
    </div>
 </form>