body {
    margin: 0;
}

.postarea {
    margin: 0 5px;
    width: inherit;
}

.postarea > div {
    white-space: pre;
    border-radius: 2px;
    background-color: #e6ecff;

    padding: 5px 2px;
}

.postarea > textarea {
    margin: 4px 0;
}

.postarea > button {
    margin-right: 5px;
}

.postarea > div > button {
    margin-top: 5px;
    height: 25px;
    width: 25px;
}