$list-background-color: #f2f2f2;
$list-hover-color: #bb138e;

.jplist {
  overflow-x: auto;
  padding: 10px 5px;

  h2,
  h3 {
    margin: 0 0 .25em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    white-space: nowrap;
  }

  th,
  td {
    border: 0;
    padding: 8px;
    text-align: left;
  }

  td:nth-child(2),
  td:last-child {
    font-size: .8em;
  }

  td:nth-child(4) {
    font-size: .7em;
  }

  tr:nth-child(even) {
    background-color: $list-background-color;
  }

  tr:not(:first-child) {
    cursor: pointer;
    transition: all .5s ease;

    &:hover {
      color: $list-hover-color;
    }
  }

}
