$sub-background-color: #dcf5f5;
$sub-border-color: #9da0a0;
$sub-box-color: #e4e4e4;

.subscriber {
  background-color: $sub-background-color;
  border: 1px solid $sub-border-color;
  box-shadow: 0 0 2.5em $sub-box-color inset;
  margin-top: 1em;
  padding: .25em;
  width: 100%;
}
