$tag-background-color: #fbfbfb;
$tag-border-color: #a29e9e;
$tag-border-edge-color: #e4e4e4;
$tag-gradient-color-first: #fff;
$tag-gradient-color-second: #e5e5e5;
$tag-height: 2.86em;
$tag-login-shadow: #808080;
$tag-nav-height: 2.5em;
$tag-padding-top: .25em;
$tag-selected-background-color: #27626d;
$tag-selected-color: #e9ecef;
$tag-span-color: #fff;
$tag-text-color: #5792bd;
$tag-unselected-color: #a6e1ec;

.tagparent {
  margin: -10px -5px;
}

@mixin tag-color($bg-color: $tag-unselected-color, $text-color: $tag-text-color) {
  background-color: $bg-color;
  color: $tag-text-color;
}

.tagger {
  background-color: $tag-background-color;
  border-bottom: 1px solid $tag-border-color;
  width: 100%;

  > * {
    float: left;
  }

  li {
    border-radius: 0 .25em .25em 0;
    cursor: pointer;
    line-height: 1.5;
    margin: .5em;
    padding: .25em .5em .25em .25em;
    position: relative;
  }

  li:before,
  li::before {
    border: 1em solid transparent;
    border-right-width: .5em;
    content: '';
    height: 0;
    left: -1.5em;
    position: absolute;
    top: 0;
    width: 0;
  }

  .x {
    @include tag-color;
    border-radius: .25em;
    left: -.5em;
    padding: .25em .5em;
  }

  .tag-close {
    @include tag-color;
    border-radius: .3em;
    bottom: 0;
    font-size: 1.2em;
    left: 0;
    margin: 5px 5%;
    position: fixed;
    width: 90%;
  }

  .selected {
    @include tag-color($tag-selected-background-color, $tag-selected-color);
  }

  .selected:before,
  .selected::before {
    border-right-color: $tag-selected-background-color;
  }

  .unselected {
    @include tag-color;
  }

  .unselected:before,
  .unselected::before {
    border-right-color: $tag-unselected-color;
    color: $tag-text-color;
  }


  .fa-3x {
    line-height: ($tag-height - 2 * $tag-padding-top) / 3em; // 3em to font-size elementu fa-3x
  }

  .fa-2x {
    line-height: ($tag-height - 2 * $tag-padding-top) / 2em; // 2em to font-size elementu fa-2x
  }

  label {
    margin-bottom: 0;
  }

}

div.tagger {
  display: table;
  line-height: $tag-nav-height;
  padding: .25em 0;
  position: relative;
  z-index: 2;

  i,
  input {
    display: inline-block;
    vertical-align: middle;
  }
}

ul.tagger {
  list-style: none;
}


@media only screen and (min-width: 768px) {
  .tagger {

    input {
      display: inline-block;
      width: auto;
    }

    span {
      .fa-3x:not(.fa-home) {
        display: none;
      }
    }

    > * {
      margin: 0 .1875em;
    }
  }

  ul.tagger {
    display: table;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
  }

  div.tagger {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .tagger > span {
    border-left: 1px solid $tag-border-edge-color;
    border-right: 1px solid $tag-border-edge-color;
    padding: 0 .25em;
  }
}

@media only screen and (max-width: 768px) {
  .tagger {
    > * {
      text-align: center;
    }
  }

  ul.tagger {
    @extend %foreground;
    padding: 0 .25em;
  }

  span .fa {
    margin: 0 .3em;
  }
}

@media only screen and (max-width: 476px) {
  .tagger label,
  .tagger input {
    width: 100%;
  }
}
