<div jp-node class='node'
     ng-class="{click: !(item.submenus && item.submenus.length > 0), selected: selected}"
     ui-tree-handle>
    <i ng-show="item.submenus && item.submenus.length > 0" class="fa toggler"
       ng-click="toggle(this)"
       ng-class="collapsed ? 'fa-caret-square-o-down' : 'fa-caret-square-o-up'"
       aria-hidden="true" data-nodrag>
    </i>
    <div ng-class="item.submenus && item.submenus.length > 0 ? 'text' : ''" ng-click="select(this, item)">{{item.name}}</div>
</div>
<ol ui-tree-nodes='' ng-model='item.submenus' ng-class='{hidden: collapsed}'>
    <li ng-repeat='item in item.submenus track by $index' ui-tree-node ng-include="'views/templates/jp-node.html'"></li>
</ol>