<ng-form name="postarea">
    <div class="postarea form-group">
        <div class="display" ng-show="show"><button ng-click="show = false">x</button><p mathjax-bind></p></div>
        <label for="add-content">{{$root.language.artContent}}</label>
        <input id="add-content" name="post" type="hidden" required/>
        <trix-editor angular-trix ng-model="model" input="add-content"
                     spellcheck="false" class="trix-content"></trix-editor>
        <div ng-show="postarea.post.$error.required">
            <span class="jperror">{{$root.language.errReq}}</span>
        </div>
        <div class="controls form-group">
            <div>
                <button ng-click="appendLatex()" class="btn btn-default">LaTeX</button>
                <button ng-click="appendPhoto()" class="btn btn-default">{{$root.language.graphic}}</button>
            </div>
            <div>
                <button ng-click="preview()" class="btn btn-default">{{$root.language.preview}}</button>
            </div>
        </div>
    </div>
</ng-form>