<form name="addForm">

    <jpcategory items="{{mockMenu}}"></jpcategory>

    <div class="form-group">
        <label for="add-tags">{{language.tags}}</label>
        <textarea ng-pattern="pattern.tags" ng-model="add.tags" name="addTags" class="form-control" id="add-tags" maxlength="1000"
                  aria-describedby="add tags" rows="4" jpcharacters></textarea>
        <small class="form-text text-muted">{{language.tagWarn}}</small>
        <div ng-show="addForm.addTags.$error.jpcharacters">
            <span class="jperror">{{language.errChars}}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="add-title">{{language.artTit}}</label>
        <input maxlength="100" type="text" name="addTitle" ng-model="add.title" class="form-control" id="add-title" aria-describedby="title" placeholder="{{language.insertTitle}}" required>
        <div ng-show="addForm.addTitle.$error.required">
            <span class="jperror">{{language.errReq}}</span>
        </div>
        <small class="form-text text-muted">{{language.errMax}} 100</small>
    </div>

    <div class="form-group">
        <label for="add-intro">{{language.artIntro}}</label>
        <textarea class="form-control" name="addIntro" ng-model="add.intro" id="add-intro" aria-describedby="intro" rows="4" required></textarea>
        <div ng-show="addForm.addIntro.$error.required">
            <span class="jperror">{{language.errReq}}</span>
        </div>
        <small class="form-text text-muted">{{language.artIntroInf}}</small>
    </div>

    <jppostarea form="addForm" rows="20"></jppostarea>

    <div class="input-group add-youtube">
        <span class="input-group-addon">
            <input ng-model="youtubeEnabled" ng-true-value="true" ng-false-value="false" type="checkbox" aria-label="youtube checkbox">
        </span>
        <span class="input-group-addon" id="sizing-addon1">www</span>
        <input ng-disabled="!youtubeEnabled" type="url" placeholder="youtube link" class="form-control" aria-label="youtube input.">
    </div>

    <div class="add-submit">
        <button ng-click="openModalSaveToStorage()" class="btn btn-primary">{{language.stoSave}}</button>
        <button ng-click="openModalSubmit()" ng-disabled="addForm.$invalid" class="btn btn-primary">{{language.publish}}</button>
    </div>

</form>