<div class="jplist">
    <h2>Najnowsze artykuły</h2>
    <table>
        <tr>
            <th>No</th>
            <th><i uib-tooltip="Sortuj" class='fa' ng-class="{'jpselected': header.values[header.names.KIND].selected || header.values[header.names.KIND].reversed, 'fa-caret-square-o-down': !header.values[header.names.KIND].reversed, 'fa-caret-square-o-up': header.values[header.names.KIND].reversed}" aria-hidden='true' ng-click="orderBy(header.names.KIND)"></i> Rodzaj</th>
            <th><i uib-tooltip="Sortuj" class='fa' ng-class="{'jpselected': header.values[header.names.TITLE].selected || header.values[header.names.TITLE].reversed, 'fa-caret-square-o-down': !header.values[header.names.TITLE].reversed, 'fa-caret-square-o-up': header.values[header.names.TITLE].reversed}" aria-hidden='true' ng-click="orderBy(header.names.TITLE)"></i> Tytuł</th>
            <th>Tagi</th>
            <th><i uib-tooltip="Sortuj" class='fa' ng-class="{'jpselected': header.values[header.names.DATE].selected || header.values[header.names.DATE].reversed, 'fa-caret-square-o-down': !header.values[header.names.DATE].reversed, 'fa-caret-square-o-up': header.values[header.names.DATE].reversed}" aria-hidden='true' ng-click="orderBy(header.names.DATE)"></i> Data</th>
        </tr>
        <tr ng-click="goArticle(article.id)" ng-repeat="article in filteredArticles | orderBy: orderProp">
            <td><strong>{{$index + 1}}</strong></td>
            <td>[{{getKind(article.kind)}}]</td>
            <td><strong>{{article.title}}</strong></td>
            <td><span ng-repeat="tag in article.tags">[{{tag}}] </span></td>
            <td>{{article.date | date: 'HH:mm dd/MM/yyyy'}}</td>
        </tr>
    </table>
</div>