<form>

    <h2>Kontakt</h2>

    <div class="col-md-6">
        <div class="form-group">
            <label for="foot-email">Adres email</label>
            <input type="email" class="form-control" id="foot-email" aria-describedby="email" placeholder="Wprowadź email">
            <small id="emailHelp" class="form-text text-muted">Nie udostępnimy Twojego adresu innym organizacjom.</small>
        </div>

        <div class="form-group">
            <label for="foot-title">Tytuł emaila</label>
            <input maxlength="100" type="text" class="form-control" id="foot-title" aria-describedby="title" placeholder="Wprowadź tytuł">
            <small id="title" class="form-text text-muted">Maksymalna liczba znaków to 100.</small>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="foot-content">Treść emaila</label>
            <textarea maxlength="1000" class="form-control" id="foot-content" aria-describedby="content" rows="6"></textarea>
            <small id="content" class="form-text text-muted">Maksymalna liczba znaków to 1000.</small>
        </div>

        <div class="form-group send">
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </div>
    </div>
</form>