<article class="jparticle">
    <header>
        <div>
            <span class="author">{{author}}</span>
            <span class="date">{{date | date: 'HH:mm dd/MM/yyyy'}}</span>
        </div>
        <h2>{{title}}</h2>
    </header>

    <div class="tags">
        <span ng-hide="angular.isUndefined(ntags) || ntags.length === 0">tagi</span><span ng-repeat="tag in ntags">{{tag}}</span>
    </div>
    <p class="intro">{{intro}}</p>
    <p class="content" ng-repeat="ncontent in ncontents">{{ncontent}}</p>
    <div class="footer">
        <span>Komentarze [{{ncomments.length}}]</span>
        <i class="fa fa-youtube fa-2x" aria-hidden="true" uib-tooltip="Obejrzyj film na youtube"></i>
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" uib-tooltip="Ściągnij plik pdf"></i>
    </div>
    <div class="add">
        <div class="form-group">
            <label for="commentcontent">Dodaj komentarz</label>
            <textarea class="form-control" id="commentcontent" placeholder="Treść komentarza" rows="3"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Nazwa użytkownika</span>
            <input type="text" class="form-control" placeholder="Nazwa użytkownika" aria-describedby="basic-addon1">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Dodaj</button>
            </span>
        </div>
    </div>
    <div class="comment" ng-repeat="ncomment in ncomments"><div><span>#{{$index + 1}}</span><strong>{{ncomment.author}}</strong> napisał/a o {{ncomment.date | date: 'HH:mm dd/MM/yyyy'}}:</div>{{ncomment.content}}</div>
</article>