.jpcontainer {
  position: absolute;

  > * {
    position: relative;
  }

  &:after,
  &::after {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .jpcontainer {
    display: flex;
    flex-direction: column;

    > div {
      order: 2;
    }

    > main {
      order: 1;
    }

    > section {
      order: 3;
    }

    > footer {
      order: 4;
    }
  }
}
