$header-color: #fff;
$header-shadow-color: #bbb;

header[role="banner"] {
  background-color: $header-color;
  box-shadow: 0 0 .3125em $header-shadow-color inset;
  cursor: pointer;
  position: relative;
  z-index: 2;

  div {
    padding: .3125em 0;
    text-align: center;
  }

  img {
    max-height: 6.5em;
    max-width: 100%;
  }
}

@media only screen and (max-width: 30em) {
  header[role="banner"] img {
    max-height: 5.1875em;
  }
}
