.header {
    background-color: white;
    height: 114px;
    box-shadow: 0 0 5px #bbbbbb inset;
    z-index: 1;
    position: relative;
}

.header > div {
    height: 100%;
    padding: 5px 0;
    text-align: center;
}

.header img {
    max-height: 100%;
}

.hlogo {
    background: url("../resources/gfx/logo.png");
    background-size: 100% 100%;

    margin: 10px 0;

    height: 94px;
    width: 362px;

    display: inline-block;

}