$menu-background-color: #fff;
$menu-border-bottom-color: transparentize(#fff, .75);
$menu-border-color: #dae2ea;
$menu-button-color: #008000;
$menu-selected-color-s: #1d2c33;
$menu-selected-color-xl: #000;
$menu-text-color-s: transparentize(#fff, .25);
$menu-text-color-xl: #7c9eb2;

jpmenu {
  display: block;
  padding: 2px;

  .node {
    cursor: default;
  }

  .btn {
    display: none;
  }
}

.jpmenutitle {
  font-weight: bold;
  text-align: center;

  i {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 768px) {
  jpmenu {
    background-color: $menu-background-color;
  }

  %jpmenui {
    color: $menu-button-color;
    cursor: pointer;
  }

  .jpmenutitle {
    font-size: 1.1em;
    padding: 5px;
  }

  .jpmenutitle i {
    @extend %jpmenui;
  }

  jpmenu li,
  jpmenu ol {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: .98em;
    list-style-type: none;
  }

  jpmenu ol {
    padding-left: 0;
  }

  jpmenu .node {
    border: 1px solid $menu-border-color;
    color: $menu-text-color-xl;
    margin: 5px 0;
    padding: 5px;
  }

  jpmenu .hidden {
    display: none;
    visibility: hidden;
  }

  jpmenu i {
    @extend %jpmenui;
    font-size: 1.1em;
  }

  jpmenu .click {
    cursor: pointer;
  }

  jpmenu .selected {
    background-color: $menu-selected-color-xl;
  }
}

@media only screen and (max-width: 768px) {
  jpmenu {
    @extend %foreground;
  }

  jpmenu {
    color: $menu-text-color-s;
    font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
    text-transform: uppercase;
  }

  .jpmenutitle {
    font-size: 1.25em;
    padding: 5px;
  }

  jpmenu .angular-ui-tree-handle {
    border-bottom: 1px solid $menu-border-bottom-color;
    font-size: 1.1em;
    padding: .15em .1em;
  }

  .click {
    font-weight: 500;
  }

  jpmenu .selected {
    background-color: $menu-selected-color-s;
  }
}
