$postarea-background-color: #e6ecff;

.postarea {
  width: inherit;

  .display {
    background-color: $postarea-background-color;
    border-radius: 2px;
    padding: 5px 2px;

    &:after,
    &::after {
      @extend %clear-float;
    }

    button {
      float: right;
      height: 25px;
      margin: 0 3px 3px;
      width: 25px;
    }
  }

  .controls {
    width: 100%;

    &:after,
    &::after {
      @extend %clear-float;
    }

    div:first-child {
      float: left;
    }

    div:last-child {
      float: right;
    }
  }

  p {
    white-space: pre-wrap;
    word-break: break-all;
  }

  > button {
    margin-right: 5px;
  }

  > textarea {
    margin: 4px 0;
  }
}
