$tgbgcolor: #fbfbfb;
$tgbrdcolor: #cccccc;
$tgunscolor: #a6e1ec;
$tgselcolor: #27626d;
$tgtxtcolor: #5792bd;
$height: 50px;

.tagparent {
  position: relative;
}

div.tagger::before, div.tagger:before {
  @extend .before;

  height: $height;
  border-bottom: 1px solid $tgbrdcolor;
  background-color: $tgbgcolor;
}

div.tagger::after, div.tagger:after {
  @extend .after;

  height: $height;
  border-bottom: 1px solid $tgbrdcolor;
  background-color: $tgbgcolor;
}

.tagger {
  @extend .width;

  display: table;
  border-bottom: 1px solid $tgbrdcolor;
  background-color: $tgbgcolor;
  list-style: none;
}

.tagger > * {
  line-height: $height - 10px;
  display: inline-block;
  vertical-align: middle;
}

.tagger > * {
  float: left;
  margin-top: 4px;
  margin-right: 3px;
  margin-left: 3px;
}

i#expander {
  float: right;
}

.tagger > input {
  width: auto;
  height: $height - 10px;
}

.tagger > i {
  cursor: pointer;
}

.tagger li {
  cursor: pointer;
  margin: .5em;
  padding: .25em .5em .25em .25em;
  border-radius: 0 .25em .25em 0;
  position: relative;
  line-height: 1.5;
}

.tagger li:before {
  content: '';
  width: 0;
  height: 0;
  border: 1em solid transparent;
  border-right-width: .5em;
  left: -1.5em;
  top: 0;
  position: absolute;
}

.tagger .x {
  left: -.5em;
  padding: .25em .5em .25em .5em;
  border-radius: .25em .25em .25em .25em;
  background-color: $tgunscolor;
  color: $tgtxtcolor;
}

.tagger .selected {
  background-color: $tgselcolor;
  color: #e9ecef;
}

.tagger .selected:before {
  border-right-color: $tgselcolor;
}

.tagger .unselected {
  background-color: $tgunscolor;
  color: $tgtxtcolor;
}

.tagger .unselected:before {
  border-right-color: $tgunscolor;
  color: $tgtxtcolor;
}

div.tagger {
  position: relative;
  z-index: 1;
}

ul.tagger {
  border-right: 1px solid $tgbrdcolor;
  border-left: 1px solid $tgbrdcolor;
  position: relative;
  z-index: 0;
}