$tag-border-color: #ccc;
$tag-border-edge-color: #e4e4e4;
$tag-gradient-color-first: #fff;
$tag-gradient-color-second: #e5e5e5;
$tag-height: 2.86em;
$tag-login-shadow: #808080;
$tag-nav-height: 2.5em;
$tag-padding-top: .25em;
$tag-selected-background-color: #27626d;
$tag-selected-color: #e9ecef;
$tag-span-color: #fff;
$tag-text-color: #5792bd;
$tag-unselected-color: #a6e1ec;

.tagparent {
  position: relative;
}

.tagger {
  background-color: $background-color;
  border-bottom: 1px solid $tag-border-color;
  width: 100%;

  > * {
    float: left;
  }

  li {
    border-radius: 0 .25em .25em 0;
    cursor: pointer;
    line-height: 1.5;
    margin: .5em;
    padding: .25em .5em .25em .25em;
    position: relative;
  }

  li:before,
  li::before {
    border: 1em solid transparent;
    border-right-width: .5em;
    content: '';
    height: 0;
    left: -1.5em;
    position: absolute;
    top: 0;
    width: 0;
  }

  .x {
    background-color: $tag-unselected-color;
    border-radius: .25em;
    color: $tag-text-color;
    left: -.5em;
    padding: .25em .5em;
  }

  .selected {
    background-color: $tag-selected-background-color;
    color: $tag-selected-color;
  }

  .selected:before,
  .selected::before {
    border-right-color: $tag-selected-background-color;
  }

  .unselected {
    background-color: $tag-unselected-color;
    color: $tag-text-color;
  }

  .unselected:before,
  .unselected::before {
    border-right-color: $tag-unselected-color;
    color: $tag-text-color;
  }

  i {
    cursor: pointer;
  }

  .fa-3x {
    line-height: ($tag-height - 2 * $tag-padding-top) / 3em; // 3em to font-size elementu fa-3x
  }

  .fa-2x {
    line-height: ($tag-height - 2 * $tag-padding-top) / 2em; // 2em to font-size elementu fa-2x
  }

  label {
    margin-bottom: 0;
  }

  .btn {
    display: none;
  }
}

div.tagger {
  display: table;
  line-height: $tag-nav-height;
  padding: .25em 0;
  position: relative;
  z-index: 2;

  i,
  input {
    display: inline-block;
    vertical-align: middle;
  }

  span:first-child,
  span:nth-child(2) {
    float: right;
  }
}

ul.tagger {
  list-style: none;
}

jp-login {
  @include background;
  box-shadow: 0 2px 3px $tag-login-shadow;
  padding: .25em;
  position: absolute;
  text-align: center;
  transition: top 500ms;
  width: 22em;
  z-index: 1;

  div:last-child {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .tagger {

    input {
      display: inline-block;
      width: auto;
    }

    span {
      .fa-3x:not(.fa-home) {
        display: none;
      }
    }

    > * {
      margin: 0 .1875em;
    }
  }

  ul.tagger {
    border-left: 1px solid $tag-border-color;
    border-right: 1px solid $tag-border-color;
    display: table;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
  }

  div.tagger {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .tagger > span {
    background-color: $tag-span-color;
    border-left: 1px solid $tag-border-edge-color;
    border-right: 1px solid $tag-border-edge-color;
    padding: 0 .25em;
  }
}

@media only screen and (max-width: 768px) {
  .tagger {
    > * {
      text-align: center;
    }
  }

  ul.tagger {
    @extend %foreground;
    padding: 0 .25em;
  }

  span .fa {
    margin: 0 .3em;
  }
}

@media only screen and (max-width: 476px) {
  .tagger label,
  .tagger input {
    width: 100%;
  }

  jp-login {
    width: 100%;
  }
}
