<!DOCTYPE html>
<html ng-app="jakPoliczycApp" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>JakPoliczyc</title>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <script src="/scripts/glue.js"></script>


    <link rel="stylesheet" href="/styles/main.css"/>


</head>
<body ng-controller="parentCtrl">

    <div class="jpalerts">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
             close="closeAlert($index)">{{alert.msg}}</div>
    </div>

    <header role="banner" class="header" ng-include="'views/header.html'"></header>
    <div ng-include="'views/toolbelt.html'"></div>
    <div class="jpcontainer slideable">
        <div class="col-2">
            <jp-menu ng-class="isMenuOpened ? 'show-s' : 'hide-s'" items="{{menu}}"></jp-menu>
            <section class="subscriber" ng-include="'views/subscriber.html'"></section>
        </div>
        <main class="col-10 jpmain">
            <ui-view></ui-view>
        </main>
        <jp-contact></jp-contact>
        <div class="social" ng-controller="linkCtrl">
            <span>
                <a ng-if="youtubeUrl" ng-href="{{youtubeUrl}}" target="_blank">
                    <i class="fa fa-youtube fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.ybRedirect}}"></i>
                </a>
                <a ng-if="facebookUrl" ng-href="{{facebookUrl}}" target="_blank">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.fbRedirect}}"></i>
                </a>
            </span>

            <img ng-click="goHome()"
                 alt="logo"/>
        </div>
        <footer>{{language.webAuthor}}: <strong>Michał Stobiński</strong></footer>
    </div>

</body>
</html>