<!DOCTYPE html>
<html ng-app="jakPoliczycApp" class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <title>JakPoliczyc</title>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script src="/libraries/head/head.load.min.js"></script>
    <script src="/scripts/glue.js"></script>

    <link rel="stylesheet" href="/styles/main.min.css"/>
</head>
<body ng-controller="parentCtrl">

    <header ng-click="goHome()" role="banner" class="header" ng-include="'/views/header.html'"></header>
    <div ng-include="'/views/tagger.html'"></div>
    <div class="jpcontainer slideable">
        <div class="col-2">
            <jpmenu ng-class="isMenuOpened ? 'show-s' : 'hide-s'" items="{{mockMenu}}"></jpmenu>
            <section class="subscriber" ng-include="'/views/subscriber.html'"></section>
        </div>
        <main class="col-10 jpmain">
            <ui-view></ui-view>
        </main>
        <jpcontact></jpcontact>
        <div class="social">
            <span>
                <a href="https://www.youtube.com"><i class="fa fa-youtube fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.ybRedirect}}"></i></a>
                <a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x" aria-hidden="true" uib-tooltip="{{$root.language.fbRedirect}}"></i></a>
            </span>

            <img src="../resources/gfx/logo320w.png"
                 srcset="../resources/gfx/logo320w.png,
                ../resources/gfx/logo500w.png"
                 sizes="(min-width: 30em) 30em"
                 ng-click="goHome()"
                 alt="logo"/>
        </div>
        <footer>{{language.webAuthor}}: <strong>Michał Stobiński</strong></footer>
    </div>

</body>
</html>